<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-qonversion" version="1.0.0">
    <dependency id="cordova-annotated-plugin-android" />
    <dependency id="cordova-plugin-device" />
    <name>Qonversion</name>
    <description>Cordova Qonversion Plugin</description>
    <license>MIT</license>
    <keywords>cordova,qonversion,iap,inapp,in-app,purchases,purchase,storekit,billing</keywords>
    <js-module src="www/Qonversion.js" name="QonversionPlugin">
        <clobbers target="Qonversion" />
    </js-module>

    <!--  Internal files  -->
    <js-module src="www/QonversionInternal.js" name="QonversionInternal" />
    <js-module src="www/Mapper.js" name="Mapper" />
    <js-module src="www/utils.js" name="utils" />
    <!--  Public files  -->
    <js-module src="www/QonversionConfig.js" name="QonversionConfig" />
    <js-module src="www/QonversionConfigBuilder.js" name="QonversionConfigBuilder" />
    <js-module src="www/dto/enums.js" name="dto/enums" />
    <js-module src="www/dto/ActionResult.js" name="dto/ActionResult" />
    <js-module src="www/dto/AutomationsEvent.js" name="dto/AutomationsEvent" />
    <js-module src="www/dto/Entitlement.js" name="dto/Entitlement" />
    <js-module src="www/dto/IntroEligibility.js" name="dto/IntroEligibility" />
    <js-module src="www/dto/Offering.js" name="dto/Offering" />
    <js-module src="www/dto/Offerings.js" name="dto/Offerings" />
    <js-module src="www/dto/Product.js" name="dto/Product" />
    <js-module src="www/dto/QonversionError.js" name="dto/QonversionError" />
    <js-module src="www/dto/User.js" name="dto/User" />
    <js-module src="www/dto/storeProducts/SKProduct.js" name="dto/storeProducts/SKProduct" />
    <js-module src="www/dto/storeProducts/SKProductDiscount.js" name="dto/storeProducts/SKProductDiscount" />
    <js-module src="www/dto/storeProducts/SKSubscriptionPeriod.js" name="dto/storeProducts/SKSubscriptionPeriod" />
    <js-module src="www/dto/storeProducts/SkuDetails.js" name="dto/storeProducts/SkuDetails" />

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="QonversionPlugin" >
                <param name="android-package" value="com.qonversion.android.sdk.QonversionPlugin"/>
            </feature>
        </config-file>
        <framework src="io.qonversion.sandwich:sandwich:1.0.0" />
        <source-file src="src/android/QonversionPlugin.java" target-dir="src/com/qonversion/android/sdk" />
        <source-file src="src/android/EntitiesConverter.java" target-dir="src/com/qonversion/android/sdk" />
        <source-file src="src/android/Utils.java" target-dir="src/com/qonversion/android/sdk" />
    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="QonversionPlugin">
                <param name="ios-package" value="CDVQonversionPlugin"/>
            </feature>
        </config-file>
        <header-file src="src/ios/CDVQonversionPlugin.h" />
        <source-file src="src/ios/CDVQonversionPlugin.m" />
        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods use-frameworks="true">
                <pod name="QonversionSandwich" spec="1.0.0"/>
            </pods>
        </podspec>
    </platform>
</plugin>
