<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-qonversion" version="1.0.0">
    <name>Qonversion</name>
    <description>Cordova Qonversion Plugin</description>
    <license>MIT</license>
    <keywords>cordova,qonversion,iap,inapp,in-app,purchases,purchase,storekit,billing</keywords>
    <js-module src="www/plugin.js" name="plugin">
        <clobbers target="Qonversion" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="QonversionPlugin" >
                <param name="android-package" value="com.qonversion.android.sdk.QonversionPlugin"/>
            </feature>
        </config-file>
        <framework src="com.qonversion.android.sdk:sdk:2.7.1" />
        <source-file src="src/android/QonversionPlugin.java" target-dir="src/com/qonversion/android/sdk" />
    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="QonversionPlugin">
                <param name="ios-package" value="CDVQonversionPlugin"/>
            </feature>
        </config-file>
        <header-file src="src/ios/CDVQonversionPlugin.h" />
        <source-file src="src/ios/CDVQonversionPlugin.m" />
        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods use-frameworks="true">
                <pod name="Qonversion" spec="2.11.3"/>
            </pods>
        </podspec>
    </platform>
</plugin>
